# env files and secrets
.env

# virtual environments
.data_collection_env
.tmpvenv
.pytestenv
.venv

# config files
*.cnfg.loc.json
*.cnfg.tst.json
*.cnfg.prd.json
*.loc.cnfg.json
*.tst.cnfg.json
*.prd.cnfg.json

# pycache
__pycache__

#  logs
.logs
.*logs
*.log
*.log.gz
*.cfg

# build
build

# wav files
*.wav

# models
*.mar
model_store
=======
*.wav
