inference_address=http://0.0.0.0:8080
default_workers_per_model=1

load_models=jenkins_prompt.mar
models = {\
 jenkins_prompt : {\
    "1.0": {\
        “defaultVersion”: true,\
        “minWorkers”: 1,\
        “maxWorkers” : 2,\
        “batchSize” : 1,\
        “maxBatchDelay” : 50,\
        “responseTimeout” : 120\
	  }\
  },\
 jenkins_listen : {\
    "1.0": {\
        “defaultVersion”: true,\
        “minWorkers”: 1,\
        “maxWorkers” : 2,\
        “batchSize” : 1,\
        “maxBatchDelay” : 50,\
        “responseTimeout” : 120\
	  }\
 }\
}\
